body {
    font-size: 20px;
}
.a {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.a1 {
    display: grid;
    place-items: center;
    padding:10px;
    font-size: 40px;
}
.a2 {
    border:1px solid black;
    direction: rtl;
    padding: 10px;

}
.a22 {
    display: flex;
}
.a4 {
    direction: rtl;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
}
.a5 {
    display: grid;
    place-items: center;
    padding: 10px;
}
.a5 button {
    font-size: 25px;
}
#a6 {
    display: grid;
    padding: 10px;
    place-items: center;
    font-weight: bolder;
    color: red;
}